body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9acc5;
    color: #8d34a3;
}

header {
    background-color: #945a99;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em auto;
    background-color: white;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-item {
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #945a99;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
